<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="org.helllabs.android.xmp"
      android:versionCode="1"
      android:versionName="1.0">
    <uses-sdk android:minSdkVersion="3" />
    <application android:icon="@drawable/icon"
          android:theme="@android:style/Theme.Dark">
    	
        <activity class=".ModPlayer" android:label="@string/app_name">
            <intent-filter>
                <action android:value="android.intent.action.MAIN" />
                <category android:value="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity class=".ControlsMenu" android:label="@string/app_name" 
        	android:theme="@style/Theme.Transparent" />
        
        <service class=".MDService" android:process=":remote" />
    </application>
</manifest> 
