.gitignore
*.o
*.lo
*.so
*.a
*.obj
*.mod
*.xm
*.s3m
*.it
*.med
*.mod.nt
mod.*
*.zip
*.tar.gz
*.rar
*.exe
*.dll
*.pyc
.svn
tags
depend
*~
config.log
config.status
configure
autom4te.cache
players/xmp/Makefile
players/xmp/src/xmp
xmp.pc
Makefile
lib/
libxmp.pc
