.idea/
node_modules/
dist/
build/
cmake-build-debug/
*.wasm
lib*.js
libxmp/libxmp-lite-stagedir/
public/soundfonts/
scripts/untracked/
src/-catalog-tests/
src/chip-core.js
public/catalog.json
public/catalog-trie.json
public/directories.json
catalog
public/music
src/config/firebaseConfig.js
libxmp/a.out.js
libxmp/lite/Makefile.in
.env