.env.local
.idea/
node_modules/
dist/
build/
cmake-build-debug/
*.a
*.wasm
*.wasm.map
lib*.js
libxmp/libxmp-lite-stagedir/
public/soundfonts/
scripts/untracked/
src/-catalog-tests/
src/chip-core.js
server/catalog.json
server/directories.json
server/deploy.sh
server/ecosystem.config.js
catalog
public/music
src/config/firebaseConfig.js
libxmp/a.out.js
libxmp/lite/Makefile.in
*.backup/
_ignore/
