#include <windows.h>
#include <commctrl.h>

VS_VERSION_INFO VERSIONINFO
FILEVERSION 4, 0, 2, 329
PRODUCTVERSION 4, 0, 2, 329
FILEOS VOS__WINDOWS32
FILETYPE VFT_APP
{
  BLOCK "StringFileInfo"
  {
    BLOCK "040904E4"
    {
      VALUE "CompanyName", "Alexander Roshal\0"
      VALUE "ProductName", "RAR decompression library\0"
      VALUE "FileDescription", "RAR decompression library\0"
      VALUE "FileVersion", "4.0.2\0"
      VALUE "OriginalFilename", "Unrar.dll\0"
    }
  }
  BLOCK "VarFileInfo"
  {
    VALUE "Translation", 0, 0
  }
}

