/*
 * $Id: resource.rc,v 1.2 2007-11-18 21:09:46 cmatsuoka Exp $
 */

#include "winuser.h"
#include "resource.h"

#define IDC_STATIC (-1)


IDD_CONFIG DIALOG DISCARDABLE  0, 0, 186, 50
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "GC Stream Player Config"
FONT 8, "MS Sans Serif"
BEGIN
    DEFPUSHBUTTON   "OK", IDOK, 129, 7, 50, 14
    PUSHBUTTON      "Cancel", IDCANCEL, 129, 24, 50, 14
    CONTROL         "Enable interpolation", IDC_INTERPOLATION, "Button",
                    BS_AUTOCHECKBOX | WS_TABSTOP, 10, 10, 108, 10
    CONTROL         "Enable IT lowpass filters", IDC_FILTER, "Button",
                    BS_AUTOCHECKBOX | WS_TABSTOP, 10, 24, 108, 10
END


