@font-face {
    font-family: PxPlusChipPlayer;
    src: url(pxplus_chipplayer.ttf) format('truetype');
}

:root { --fontPxPlusChipPlayer: 24px/19px PxPlusChipPlayer; }

@font-face {
    src: url(mm-tahoma-8px.ttf) format('truetype');
    font-family: TahomaPixel;
}

:root { --fontTahomaPixel: 16px/16px TahomaPixel, Tahoma; }
