Source: xmp
Section: sound
Priority: extra
Maintainer: claudio@helllabs.org
Standards-Version: 2.4.0.0

Package: xmp-common
Architecture: any
Description: Common files for xmp, xxmp and the xmp XMMS plugin
 This package contains configuration files, documentation and support files
 (including the OSS PCM audio and sequencer drivers) for xmp, xmp-x11 and
 xmp-xmms.

Package: libxmp2.0
Architecture: any
 This package contains the xmp mod player library.

Package: xmp
Architecture: any
Provides: xmp-player
Depends: ${shlibs:Depends}, xmp-common
Description: XMP, a module player supporting AWE32, GUS, and software-mixing
 xmp is a multi-format module player for UNIX. In machines with GUS or
 AWE cards xmp takes advantage of the OSS sequencer to play modules with
 virtually no system load. Using software mixing, xmp plays at sampling
 rates up to 48 kHz in mono or stereo, 8 or 16 bits, signed or unsigned,
 little or big endian samples with 32 bit linear interpolation. xmp
 currently supports more than 40 module formats.

Package: xmp-x11
Architecture: any
Depends: ${shlibs:Depends}
Provides: xmp-player
Suggests: xmp (>= 2.0.4-1)
Description: X11 version of the XMP module player
 This package contains an X11 version of xmp. It supports more than 40 module
 formats including Protracker variants, packed MODs, S3M, XM, IT with filters,
 exotic formats and Adlib modules. 

Package: xmp-xmms
Architecture: any
Depends: ${shlibs:Depends}, xmms
Provides: xmp-player
Suggests: xmp (>= 2.0.4-1)
Description: An experimental XMP plugin for XMMS.
 This package contains an experimental xmp plugin for XMMS, supporting more
 than 40 module formats including Protracker variants, packed MODs, S3M, XM,
 IT with filters, exotic formats and Adlib modules. 

Package: xmp-esd
Architecture: any
Depends: xmp-player, ${shlibs:Depends}
Description: EsounD driver for XMP
 This package contains an EsounD driver for xmp.

Package: xmp-nas
Architecture: any
Depends: xmp-player, ${shlibs:Depends}
Description: Network Audio System driver for XMP
 This package contains a Network Audio System driver for xmp.

Package: xmp-arts
Architecture: any
Depends: xmp-player, ${shlibs:Depends}
Description: aRts driver for XMP
 This package contains the aRts driver for xmp.

Package: xmp-alsa
Architecture: any
Depends: xmp-player, ${shlibs:Depends}
Description: ALSA driver for XMP
 This package contains the ALSA driver for xmp.

