#!/usr/bin/make -f
# Sample debian/rules that uses debhelper. GNU copyright 1997 by Joey Hess.

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

build: build-stamp
build-stamp:
	dh_testdir
	# Add here commands to compile the package.
	./configure --enable-dynamic --disable-alsa --enable-esd --enable-xmms --enable-nas --enable-arts
	$(MAKE)
	touch build-stamp

clean:
	dh_testdir
	dh_testroot
	rm -f build-stamp
	dh_clean
	# Add here commands to clean up after the build process.
	-$(MAKE) distclean

# Build architecture-independent files here.
binary-indep: build
# We have nothing to do by default.

# Build architecture-dependent files here.
binary-arch: build-stamp
#	dh_testversion
	dh_testdir
	dh_testroot
	dh_clean
	dh_installdirs -plibxmp2.0 usr/lib
	dh_installdirs -plibxmp2.0 usr/lib usr/include
	dh_installdirs -pxmp usr/bin
	dh_installdirs -pxmp-x11 usr/bin
	dh_installdirs -pxmp-common etc usr/bin usr/lib/xmp/drivers
	dh_installdirs -pxmp-xmms usr/lib/xmms/Input
	dh_installdirs -pxmp-esd usr/lib/xmp/drivers
	dh_installdirs -pxmp-nas usr/lib/xmp/drivers
	dh_installdirs -pxmp-arts usr/lib/xmp/drivers
	# Add here commands to install the files into debian/xmp
#	$(MAKE) BIN_DIR=$(shell pwd)/debian/tmp/usr/bin install
	install -s -m755 src/main/xmp $(shell pwd)/debian/xmp/usr/bin
	install -s -m755 src/main/xxmp $(shell pwd)/debian/xmp-x11/usr/bin
	install -s -m644 src/xmms/xmp-plugin.so \
		$(shell pwd)/debian/xmp-xmms/usr/lib/xmms/Input
	install -s -m644 lib/libxmp.so.* $(shell pwd)/debian/libxmp2.0/usr/lib
	install -s -m644 lib/drivers/oss_seq.so $(shell pwd)/debian/tmp/usr/lib/xmp/drivers
	install -s -m644 lib/drivers/oss_mix.so $(shell pwd)/debian/tmp/usr/lib/xmp/drivers
	install -s -m644 lib/drivers/esd.so $(shell pwd)/debian/xmp-esd/usr/lib/xmp/drivers
	install -s -m644 lib/drivers/nas.so $(shell pwd)/debian/xmp-nas/usr/lib/xmp/drivers
	install -s -m644 lib/drivers/arts.so $(shell pwd)/debian/xmp-arts/usr/lib/xmp/drivers
	cp debian/xmp-view debian/tmp/usr/bin
	chmod +x debian/tmp/usr/bin/xmp-view
	cp debian/xmp-view.conf debian/tmp/etc/xmp-view.conf
	cp etc/xmp.conf debian/tmp/etc/xmp.conf
	cp etc/xmp-modules.conf debian/tmp/etc/xmp-modules.conf
	# cp debian/doc-base debian/tmp/usr/share/doc-base/xmp
	# cp debian/doc-base debian/tmp/usr/share/doc-base/xmp-faq
	dh_installdocs -pxmp-common docs/CREDITS docs/README.awebug \
		docs/README.fixloop docs/README.trackers README
	dh_installdocs -pxmp-xmms src/xmms/README
	dh_installexamples
	dh_installmenu
#	dh_installinit
	dh_installcron
	dh_installmanpages -pxmp-x11 docs/xxmp.1
	dh_undocumented -pxmp-common xmp-view.1
	dh_installchangelogs docs/ChangeLog
	dh_strip
	dh_compress
	dh_fixperms
	dh_installdeb
	dh_shlibdeps
	dh_gencontrol
#	dh_makeshlibs
	dh_md5sums
	dh_builddeb

source diff:                                                                  
	@echo >&2 'source and diff are obsolete - use dpkg-source -b'; false

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary
