.App {
    margin: 0 auto;
    font-variant-numeric: tabular-nums;
}

.App-label {
    margin: 0 5px;
    white-space: nowrap;
    display: inline-block;
    font-size: 12px;
}

.App-subtitle {
    font-size: 12px;
}