/* MSDOS 6.22 CSS Theme */
:root {
    --charH:      19px;
    --charW1:      8px;
    --charW2:     16px;
    --charW2neg: -16px;
    --charW3:     24px;
    --charW3neg: -24px;

    --clickable:  #ff0;
    --active:     #800;
    --button:     #66d;
    --focus:      #00f;
    --background: #008;
    --shadow:     #005;
    --neutral4:   #fff;
    --neutral3:   #ccc;
    --neutral2:   #aaa;
    --neutral1:   #777;
    --neutral0:   #000;
}

@font-face {
    font-family: VGA_SquarePx;
    src: url(fonts/pxplus_vga_squarepx.ttf) format('truetype');
    font-weight: 400;
    font-style: normal
}

* {
    font-size: 24px !important;
    font-family: VGA_SquarePx, monospace !important;
    -webkit-font-smoothing: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    line-height: var(--charH) !important;
    text-decoration: none;
    color: var(--neutral2);
}

*::selection {
    background: rgba(170, 170, 170, 0.99);
    color: var(--background);
}

*:focus {
    outline: none;
    background-color: var(--focus);
}

/* Basic elements */

body {
    background: var(--background);
    overflow: hidden;
}

/* Margins in one direction (bottom) */
h1, h2, h3, h4, h5, h6 {
    color: var(--neutral4);
    margin: 0 0 var(--charH) 0;
    padding: 0;
    font-weight: normal;
}

p { margin: 0 0 var(--charH) 0; }

a {
    text-decoration: none;
    color: var(--clickable);
    cursor: pointer;
}

a:focus   { background: var(--focus); }
a:active  { background: var(--active); }
a:visited { color: var(--clickable); }

/* Form elements */

select, button {
    border: none;
    background: none;
    border-radius: 0;
    -moz-appearance: none;
    -webkit-appearance: none;
    padding: 0 var(--charW1);
    color: var(--clickable);
}
select {
    background-color: var(--button);
    background-image: /* A little down-arrow */
            linear-gradient(60deg, transparent 50%, var(--clickable) 50%),
            linear-gradient(120deg, var(--clickable) 50%, transparent 50%);
    background-position: calc(100% - var(--charW2)) 5px, calc(100% - 12px) 5px;
    background-size: 4px 12px, 4px 12px;
    background-repeat: no-repeat;
    max-width: 264px;
}
select option                { font-size: 14px; }

button          { background: var(--button); padding: 0; margin: 0; }
button:focus    { background: var(--focus); }
button:active   { background: var(--active); }
button:disabled { background: var(--neutral1); color: var(--neutral3); }
.box-button        { padding: 0 var(--charW2); box-shadow: var(--charW1) var(--charW1) var(--shadow); }
.box-button:active { box-shadow: none; }

input[type=text] {
    border: 0;
    border-radius: 0;
    background-color: var(--neutral2);
    color: var(--background);
    padding: 0 var(--charW1);
    width: 256px;
}
input[type=text]::selection                 { background-color: var(--neutral4); }
input[type=text]::-webkit-input-placeholder { color: var(--neutral1) }

input[type=checkbox]:focus,
input[type=radio]:focus,
input[type=range]:focus { background: var(--focus); }

label { display: inline-block; margin-right: var(--charW1); }
label:last-child, label:last-of-type { margin-right: 0; }
input[type=checkbox],
input[type=radio] {
    -webkit-appearance: none;
    -moz-appearance: none;
    background: transparent;
    border: 0;
    border-radius: 0;
    outline: 0;
    width: 32px;
    margin: 0;
    color: var(--clickable);
}

input[type=checkbox]:before         { content: '[ ]'; }
input[type=checkbox]:checked:before { content: '[×]'; }

input[type=radio]:before         { content: '( )'; }
input[type=radio]:checked:before { content: '(●)'; }

input[type=range] {
    margin: 0;
    -webkit-appearance: none;
    background: transparent;
    vertical-align: bottom;
}

input[type=range]::-webkit-slider-runnable-track {
    height: 3px;
    border: 1px solid var(--clickable);
    margin: var(--charW1) 0;
}

input[type=range]:disabled::-webkit-slider-runnable-track { border-color: var(--neutral2); }
input[type=range]:disabled::-webkit-slider-thumb { background: var(--neutral2); }
input[type=range]:active::-webkit-slider-thumb { background: var(--clickable); }
input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    background: var(--clickable);
    border: 0;
    height: var(--charH);
    margin-top: -9px;
    width: var(--charW1);
}

/* Scrollbars */

::-webkit-scrollbar {
    height: var(--charW1);
    width: var(--charW1);
    background: var(--button);
}

::-webkit-scrollbar-thumb {
    background: var(--clickable);
    -webkit-border-radius: 0;
}

/* Component overrides */

body,#root {
    margin: 0;
}

.App {
    padding: 0 var(--charW2);
    display: flex;
    flex-direction: column;
    height: 100vh;
    box-sizing: border-box;
    margin: 0 auto;
    font-variant-numeric: tabular-nums;
}

.App-header {
    border-bottom: 1px solid var(--clickable);
    padding: var(--charH) var(--charW2);
    margin: 0 var(--charW2neg);
    flex-grow: 0;
}

.App-subtitle {
    margin: var(--charH) 0 0 0;
}

.App-title, .App-title:visited, .App-title:link {
    color: var(--neutral4);
}

.App-byline {
    float: right;
}

.App-main {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    overflow: auto;
    height: 100%;
    margin: 0 var(--charW2neg);
}

.App-main-content-area {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    min-width: 0;
    padding: var(--charH) var(--charW2);
    overflow-y: auto;
}

.App-footer {
    border-top: 1px solid var(--clickable);
    margin: 0 var(--charW2neg);
    flex-shrink: 0;
    height: 210px;
    display: flex;
}

.App-footer-art {
    width: 210px;
    height: 210px;
    background-size: contain;
    background-position: center;
    background-color: var(--neutral0);
    background-repeat: no-repeat;
    border-left: 1px solid var(--clickable);
    flex-shrink: 0;
}

.App-footer-main {
    flex-grow: 1;
    padding: var(--charH) var(--charW2);
    overflow-y: auto;
    overflow-x: hidden;
}

.App-footer-settings {
    border-left: 1px solid var(--clickable);
    padding: var(--charH) var(--charW2);
    max-width: 360px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.PlayerParams h3 {
    margin-top: 0;
}

.App-voice-label {
    width: 112px;
    white-space: nowrap;
    overflow-x: hidden;
}

.App-error {
    display: inline-block;
    background-color: var(--active);
    color: var(--neutral4);
    margin: 0 var(--charW1);
    padding: 0 var(--charW1);
}

.App .Slider {
    height: var(--charH);
    padding: 0;
    cursor: pointer;
    position: relative;
    width: calc(100% - var(--charW1));
    box-sizing: border-box;
    border: 0;
}

.App .Slider-rail {
    width: calc(100% + var(--charW1));
    height: 3px;
    margin-top: -2px;
    background: none;
    position: absolute;
    top: 50%;
    box-sizing: border-box;
    border: 1px solid var(--clickable);
}

.App .Slider-knob {
    height: var(--charH);
    width: var(--charW1);
    margin: 0;
    border-radius: 0;
    background-color: var(--clickable);
    position: absolute;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.App .Search-results {
    margin-top: var(--charH);
}

.SongDetails {}
.SongDetails-title {color: var(--neutral4);}
.SongDetails-subtitle, .SongDetails-subtitle, .SongDetails-filepath {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.SongDetails-filepath a {color: var(--neutral2);}

/*.Search-label { margin-right: */
.Search-button-clear { white-space: pre; }
.Search-button-clear::before { content: ' ×'; }
.Search-button-clear::after  { content: ' '; }

.Search-results {
    /*overflow-y: auto;*/
    /*height: 100%;*/
}

.Search-results-group-item {
    margin-left: var(--charW3);
    text-indent: var(--charW3neg);
    white-space: nowrap;
}

.Search-results-group-item a {
    overflow-wrap: break-word;
    white-space: normal;
}

.Favorite-button::before { content: ' ' }
.Favorite-button::after { content: ' ' }
.Favorite-button:active { color: var(--clickable); }
.Favorite-button.added { color: var(--clickable); }
.Favorite-button {
    white-space: pre;
    cursor: pointer;
    color: var(--button);
    background: initial;
}

.Visualizer { position: relative; display: flex; flex-direction: column; align-items: flex-end }
.Visualizer-overlay { position: absolute; top: calc(4 * var(--charH)); image-rendering: pixelated; }
.Visualizer-options { padding: var(--charH) var(--charW2); text-align: right; }
.Visualizer-toggle { position: fixed; top: var(--charH); right: var(--charW2); }
.Visualizer-analyzer { display: block; image-rendering: pixelated; }
.Visualizer-spectrogram { display: block; flex-grow: 1; min-height: 0; image-rendering: pixelated; }

.TimeSlider { margin: var(--charH) 0; }
.TimeSlider-time { display: flex; flex-direction: row; justify-content: space-between; }
.TimeSlider-elapsed {}
.TimeSlider-total {}

.Song-now-playing {
    background-color: var(--button);
}

td { padding: 0 }
img { image-rendering: pixelated; }