/* MSDOS 6.22 CSS Theme */

@font-face {
    font-family: VGA_SquarePx;
    src: url(fonts/pxplus_vga_squarepx.ttf) format('truetype');
    font-weight: 400;
    font-style: normal
}

* {
    font-size: 24px !important;
    -webkit-font-smoothing: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    font-family: VGA_SquarePx, monospace !important;
    line-height: 19px !important;
    text-decoration: none;
    color: #aaa;
}

*::selection {
    background: rgba(170, 170, 170, 0.99);
    color: #008;
}

*:focus {
    outline: none;
    background-color: #00f;
}

/* Basic elements */

body {
    margin: 30px;
    background: #008;
    overflow: hidden;
}

/* Margins in one direction (bottom) */
h1, h2, h3, h4, h5, h6 {
    color: #fff;
    margin: 0 0 19px 0;
    padding: 0;
    font-weight: normal;
}

p { margin: 0 0 19px 0; }

a {
    font-size: 24px;
    font-weight: normal;
    text-decoration: none;
    -webkit-font-smoothing: none;
    margin: 0;
    padding: 0;
    line-height: 24px;
    color: #ff0;
    cursor: pointer;
}

a:focus   { background: #00f; }
a:active  { background: #800; }
a:visited { color: #ff0; }

/* Form elements */

select, button {
    border: none;
    background: none;
    border-radius: 0;
    -moz-appearance: none;
    -webkit-appearance: none;
    padding: 0 8px;
    color: #ff0;
}
select {
    background-color: #66d;
    background-image: /* A little down-arrow */
            linear-gradient(60deg, transparent 50%, #ff0 50%),
            linear-gradient(120deg, #ff0 50%, transparent 50%);
    background-position: calc(100% - 16px) 5px, calc(100% - 12px) 5px;
    background-size: 4px 12px, 4px 12px;
    background-repeat: no-repeat;
    max-width: 264px;
}
select option                { font-size: 14px; }

button          { background: #66d; padding: 0; margin: 0; }
button:focus    { background: #00f; }
button:active   { background: #800; }
button:disabled { background: #777; color: #ccc; }
.box-button        { padding: 0 16px; box-shadow: 8px 8px rgb(0,0,84); }
.box-button:active { box-shadow: none; }

input[type=text] {
    border: 0;
    border-radius: 0;
    background-color: #aaa;
    color: #008;
    padding: 0 8px;
    width: 256px;
}
input[type=text]::selection                 { background-color: #fff; }
input[type=text]::-webkit-input-placeholder { color: #666 }

input[type=checkbox]:focus,
input[type=radio]:focus,
input[type=range]:focus { background: #00f; }

label { display: inline-block; margin-right: 8px; }
label:last-child, label:last-of-type { margin-right: 0; }
input[type=checkbox],
input[type=radio] {
    -webkit-appearance: none;
    -moz-appearance: none;
    background: transparent;
    border: 0;
    border-radius: 0;
    outline: 0;
    width: 32px;
    margin: 0;
    color: #ff0;
}

input[type=checkbox]:before         { content: '[ ]'; }
input[type=checkbox]:checked:before { content: '[×]'; }

input[type=radio]:before         { content: '( )'; }
input[type=radio]:checked:before { content: '(●)'; }

input[type=range] {
    margin: 0;
    -webkit-appearance: none;
    background: transparent;
    vertical-align: bottom;
}

input[type=range]::-webkit-slider-runnable-track {
    height: 3px;
    border: 1px solid yellow;
    margin: 8px 0;
}

input[type=range]:disabled::-webkit-slider-runnable-track { border-color: #aaa; }
input[type=range]:disabled::-webkit-slider-thumb { background: #aaa; }
input[type=range]:active::-webkit-slider-thumb { background: #ff0; }
input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    background: yellow;
    border: 0;
    height: 19px;
    margin-top: -9px;
    width: 8px;
}

/* Scrollbars */

::-webkit-scrollbar {
    height: 8px;
    width: 8px;
    background: #66d;
}

::-webkit-scrollbar-thumb {
    background: #ff0;
    -webkit-border-radius: 0px;
}

/* Component overrides */

body,#root {
    margin: 0;
}

.App {
    padding: 0 16px;
    display: flex;
    flex-direction: column;
    height: 100vh;
    box-sizing: border-box;
    margin: 0 auto;
    font-variant-numeric: tabular-nums;
}

.App-header {
    border-bottom: 1px solid yellow;
    padding: 19px 16px;
    margin: 0 -16px;
    flex-grow: 0;
}

.App-subtitle {
    margin: 19px 0 0 0;
}

.App-title, .App-title:visited, .App-title:link {
    color: #fff;
}

.App-byline {
    float: right;
}

.App-main {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    overflow: auto;
    height: 100%;
    margin: 0 -16px;
}

.App-main-content-area {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    min-width: 0;
    padding: 19px 16px;
    overflow-y: auto;
}

.App-footer {
    border-top: 1px solid yellow;
    margin: 0 -16px;
    flex-shrink: 0;
    height: 210px;
    display: flex;
}

.App-footer-art {
    width: 210px;
    height: 210px;
    background-size: contain;
    background-position: center;
    background-color: #000;
    background-repeat: no-repeat;
    border-left: 1px solid #ff0;
    flex-shrink: 0;
}

.App-footer-main {
    flex-grow: 1;
    padding: 19px 16px;
    overflow-y: auto;
    overflow-x: hidden;
}

.App-footer-settings {
    border-left: 1px solid #ff0;
    padding: 19px 16px;
    max-width: 360px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.PlayerParams h3 {
    margin-top: 0;
}

.App-voice-label {
    width: 112px;
    white-space: nowrap;
    overflow-x: hidden;
}

.App-error {
    display: inline-block;
    background-color: #800;
    color: white;
    margin: 0 8px;
    padding: 0 8px;
}

.App .Slider {
    height: 19px;
    padding: 0;
    cursor: pointer;
    position: relative;
    width: calc(100% - 8px);
    box-sizing: border-box;
    border: 0;
}

.App .Slider-rail {
    width: calc(100% + 8px);
    height: 3px;
    margin-top: -2px;
    background: none;
    position: absolute;
    top: 50%;
    box-sizing: border-box;
    border: 1px solid yellow;
}

.App .Slider-knob {
    height: 19px;
    width: 8px;
    margin: 0;
    border-radius: 0;
    background-color: #ff0;
    position: absolute;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.App .Search-results {
    margin-top: 19px;
}

.SongDetails {}
.SongDetails-title {color: white;}
.SongDetails-subtitle, .SongDetails-subtitle, .SongDetails-filepath {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.SongDetails-filepath a {color: #aaa;}

/*.Search-label { margin-right: */
.Search-button-clear { white-space: pre; }
.Search-button-clear::before { content: ' ×'; }
.Search-button-clear::after  { content: ' '; }

.Search-results {
    /*overflow-y: auto;*/
    /*height: 100%;*/
}

.Search-results-group-heading {
    margin: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.Search-results-group-heading a {
    color: #aaa;
}

.Search-results-group-item {
    margin-left: 16px;
    text-indent: -24px;
    white-space: nowrap;
}

.Search-results-group-item a {
    overflow-wrap: break-word;
    white-space: normal;
}

.Favorite-button::before { content: ' ' }
.Favorite-button::after { content: ' ' }
.Favorite-button:active { color: #ff0; }
.Favorite-button.added { color: #ff0; }
.Favorite-button {
    white-space: pre;
    cursor: pointer;
    color: #66d;
    background: initial;
}

.Visualizer { position: relative; display: flex; flex-direction: column; align-items: flex-end }
.Visualizer-overlay { position: absolute; top: 76px; image-rendering: pixelated; }
.Visualizer-options { padding: 19px 16px; text-align: right; }
.Visualizer-toggle { position: fixed; top: 19px; right: 16px; }
.Visualizer-analyzer { display: block; image-rendering: pixelated; }
.Visualizer-spectrogram { display: block; flex-grow: 1; min-height: 0; image-rendering: pixelated; }

.TimeSlider { margin: 19px 0; }
.TimeSlider-time { display: flex; flex-direction: row; justify-content: space-between; }
.TimeSlider-elapsed {}
.TimeSlider-total {}

.Song-now-playing {
    background-color: #6666dd;
}

td { padding: 0 }