/* MSDOS 6.22 CSS Theme */

@font-face {
    font-family: VGA_SquarePx;
    src: url(fonts/pxplus_vga_squarepx.ttf) format('truetype');
    font-weight: 400;
    font-style: normal
}

* {
    font-size: 24px !important;
    -webkit-font-smoothing: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    font-family: VGA_SquarePx, monospace !important;
    line-height: 19px !important;
    text-decoration: none;
    color: #aaa;
}

*::selection {
    background: rgba(170, 170, 170, 0.99);
    color: #008;
}

*:focus {
    outline: none;
    background-color: #00f;
}

/* Basic elements */

body {
    margin: 30px;
    background: #008;
    overflow: hidden;
}

h1, h2, h3, h4, h5, h6 {
    color: #fff;
    margin: 19px 0;
    padding: 0;
    font-weight: normal;
}

p { margin: 19px 0; }

a {
    font-size: 24px;
    font-weight: normal;
    text-decoration: none;
    -webkit-font-smoothing: none;
    margin: 0;
    padding: 0;
    line-height: 24px;
    color: #ff0;
}

a:focus   { background: #00f; }
a:active  { background: #800; }
a:visited { color: #ff0; }

/* Form elements */

select, button {
    border: none;
    background: none;
    border-radius: 0;
    -moz-appearance: none;
    -webkit-appearance: none;
    padding: 0 8px;
    color: #ff0;
}
select {
    background-color: #66d;
    background-image: /* A little down-arrow */
            linear-gradient(60deg, transparent 50%, #ff0 50%),
            linear-gradient(120deg, #ff0 50%, transparent 50%);
    background-position: calc(100% - 16px) 5px, calc(100% - 12px) 5px;
    background-size: 4px 12px, 4px 12px;
    background-repeat: no-repeat;
}
select:before, button:before { content: '[ '; }
select:after, button:after   { content: ' ]'; }
select option                { font-size: 14px; }

button          { background: #66d; padding: 0; margin: 0; }
button:focus    { background: #00f; }
button:active   { background: #800; }
button:disabled { background: #777; color: #ccc; }

input[type=text] {
    border: 0;
    border-radius: 0;
    background-color: #aaa;
    color: #008;
    padding: 0 8px;
    width: 256px;
}
input[type=text]::selection                 { background-color: #fff; }
input[type=text]::-webkit-input-placeholder { color: #666 }

input[type=checkbox]:focus,
input[type=radio]:focus,
input[type=range]:focus { background: #00f; }

label { display: inline-block; margin-right: 8px; }
input[type=checkbox],
input[type=radio] {
    -webkit-appearance: none;
    -moz-appearance: none;
    background: transparent;
    border: 0;
    border-radius: 0;
    outline: 0;
    width: 32px;
    margin: 0;
    color: #ff0;
}

input[type=checkbox]:before         { content: '[ ]'; }
input[type=checkbox]:checked:before { content: '[×]'; }

input[type=radio]:before         { content: '( )'; }
input[type=radio]:checked:before { content: '(•)'; }

input[type=range] {
    margin: 0;
    -webkit-appearance: none;
    background: transparent;
    vertical-align: bottom;
}

input[type=range]::-webkit-slider-runnable-track {
    height: 3px;
    border: 1px solid yellow;
    margin: 8px 0;
}

input[type=range]:disabled::-webkit-slider-runnable-track { border-color: #aaa; }
input[type=range]:disabled::-webkit-slider-thumb { background: #aaa; }
input[type=range]:active::-webkit-slider-thumb { background: #ff0; }
input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    background: yellow;
    border: 0;
    height: 19px;
    margin-top: -9px;
    width: 8px;
}

/* Scrollbars */

::-webkit-scrollbar {
    height: 8px;
    width: 8px;
    background: #66d;
}

::-webkit-scrollbar-thumb {
    background: #ff0;
    -webkit-border-radius: 0px;
}

/* Component overrides */

body,#root {
    margin: 0;
}

.App {
    padding: 0 19px;
    display: flex;
    flex-direction: column;
    height: 100vh;
    box-sizing: border-box;
}


.App .App-header {
    border-bottom: 1px solid yellow;
    padding: 0 19px;
    margin: 0 -19px;
    flex-grow: 0;
}

.App-byline {
    float: right;
}

.App-content-area {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    /*overflow-y: auto;*/
    height: 100%;
    margin: 0 -19px;
}

.App-footer {
    border-top: 1px solid yellow;
    padding: 19px;
    margin: 0 -19px;
    flex-shrink: 0;
    max-height: 25%;
    overflow-y: auto;
    overflow-x: hidden;
}

.App .App-label {
    margin: 0 8px 0 0;
}

.App .App-error {
    display: inline-block;
    background-color: #800;
    color: white;
    margin: 0 8px;
    padding: 0 8px;
}

.App .Slider {
    height: 19px;
    padding: 0;
    cursor: pointer;
    position: relative;
    width: 100%;
    box-sizing: border-box;
    border: 0;
}

.App .Slider-rail {
    width: 100%;
    height: 3px;
    margin-top: -2px;
    background: none;
    position: absolute;
    top: 50%;
    box-sizing: border-box;
    border: 1px solid yellow;
}

.App .Slider-knob {
    height: 19px;
    width: 8px;
    margin: 0;
    border-radius: 0;
    background-color: #ff0;
    position: absolute;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.App .Search-results {
    margin-top: 19px;
}

.Search {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    min-width: 0;
    padding: 19px;
    overflow-y: auto;
}

.Search-results {
    /*overflow-y: auto;*/
    /*height: 100%;*/
}

.Search-results div {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.Search-results-group-heading {
    margin: 0;
}

.Search-results-group-heading a {
    color: #aaa;
}

.Search-results-group-item {
    margin-left: 16px;
}

.Visualizer { position: relative; display: flex; flex-direction: column; }
.Visualizer-overlay { position: absolute; top: 76px; image-rendering: pixelated; }
.Visualizer-options { padding: 19px; text-align: right; }
.Visualizer-toggle { position: fixed; top: 0; right: 19px; }
.Visualizer-analyzer { display: block; image-rendering: pixelated; }
.Visualizer-spectrogram { display: block; flex-grow: 1; min-height: 0; image-rendering: pixelated; }

.TimeSlider { margin: 19px 0; }
.TimeSlider-time { display: flex; flex-direction: row; justify-content: space-between; }
.TimeSlider-elapsed {}
.TimeSlider-total {}